<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navegar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/templates/inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Renta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenedor
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/templates/clientesvista.html">Clientes</a></li>
                            <li><a class="dropdown-item" href="/templates/listalibros.html">Libros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">otros</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sobre nosotros</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>



</head>
<body>

<br>
<br>

<div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">

    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61HOpyVqSeL.jpg"  style="width: 317px; height: 300px;" alt="">
            <div class="card-body ">
                <h5 class="card-title" align="center">Don Quijote de la Mancha</h5>
                <p class="card-text" align="justify">Es el personaje principal de la obra, y tiene como características físicas: De aspecto pálido, alto, delgado, nariz puntiaguda, tiene Barba y bigote. Es el protagonista de la novela y constituye un consagrado mito de la literatura universal, y el más universal y profundo de la literatura española.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/5a/d1/5ad14266c6dcfa4b14b7692576299cf9.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">Percy Jackson</h5>
                <p class="card-text" align="justify">Vuelve Percy Jackson, el protagonista estrella de Rick Riordan Por una vez, Percy Jackson no debe preocuparse por salvar el mundo. En esta ocasión tiene una tarea mucho más difícil: entrar en la universidad.
                    La Universidad de Nueva Roma pide cartas de recomendación de tres dioses para acceder, así que... sí: Percy tendrá que llevar a cabo nuevas misiones para conseguirlas.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://www.crisol.com.pe/media/catalog/product/cache/f6d2c62455a42b0d712f6c919e880845/9/7/9786073128834_9iw6xpibma56lxxv.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body" >
                <h5 class="card-title" align="center">GOT Cancion de Hielo y Fuego</h5>
                <p class="card-text" align="justify">En el legendario mundo de los Siete Reinos, donde el verano puede durar décadas y el invierno toda una vida, y donde rastros de una magia inmemorial surgen en los rincones más sombríos, la tierra del norte, Invernalia, está resguardada por un colosal muro de hielo que detiene a fuerzas oscuras y sobrenaturales.</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://www.crisol.com.pe/media/catalog/product/cache/f6d2c62455a42b0d712f6c919e880845/9/7/9786071137647_mnnzkqndp6ju9mo2.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">GOT Tormenta de Espadas</h5>
                <p class="card-text" align="justify">Mientras Empeoran la Violencia y el Clima en los Siete Reinos, Otra Fuerza Armada, Surge Desde Más Allá del Muro de Hielo: Se Trata de los Otros, un Ejército Sobrenatural de Muertos Vivientes, Cuyos Cuerpos Inertes No Podrán Ser Detenidos.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://http2.mlstatic.com/D_NQ_NP_703146-MLA49244488311_032022-O.webp" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">GOT Choque de Reyes</h5>
                <p class="card-text" align="justify">Este volumen de la saga continua con el estilo de sus predecesoras: múltiples protagonistas, personajes ambiguos en sus intenciones y con personalidad compleja, giros inesperados de la trama y sutiles elementos mágicos que irán ganado intensidad en los volúmenes siguientes.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://f.fcdn.app/imgs/04bd2e/grupolibros.com.uy/gli/3616/original/catalogo/978607113746397860711374631/345x535/festin-de-cuervos-cancion-de-hielo-y-fuego-iv-festin-de-cuervos-cancion-de-hielo-y-fuego-iv.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">GOT Festin de Cuervos</h5>
                <p class="card-text" align="justify">Tras el asesinato de su padre, Tywin Lannister, a manos de Tyrion, Cersei queda como Regente de su hijo, el rey Tommen Baratheon. Decidida a asumir las labores de gobierno, Cersei se rodea de aduladores e incompetentes, a la vez que es consumida por los deseos de venganza y por la paranoia contra su hermano menor.</p>
            </div>
        </div>
    </div>

</div>

<br>
<br>

<div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/02/fb/02fb19970ccf22763313a73744bfdaf7.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">El principito</h5>
                <p class="card-text" align="justify">El Principito, protagonista de la historia, es un niño muy singular que habita en un asteroide lejano, y que en su inocencia es portador de una gran sabiduría. Llega a la Tierra luego de un largo recorrido espacial, en busca de alguien que le sepa dibujar un cordero.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://covers.alibrate.com/b/59872ea5cba2bce50c1de2b5/866e8d83-28bb-413e-892b-ead5d3da8835/share" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">Las Mil y una Noches</h5>
                <p class="card-text" align="justify">Las mil y una noches habla de la historia del rey Schahriar, que, ofendido por la infidelidad de su esposa, decide vengarse de todas las mujeres. Al pensar que todas son iguales, encarga que todas las noches le lleven a una joven que pase con él la noche y que, al día siguiente, será ejecutada.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/be/e9/bee9773ea6aa90c80b9f0f5e1d99f648.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">La Metamorfosis</h5>
                <p class="card-text" align="justify">Narra de forma magistral la transformación de Gregorio Samsa de comerciante a un monstruoso insecto. Samsa primero cree que es un sueño, pero poco a poco va descubriendo que la pesadilla es real </p>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">

    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/d7/d9/d7d977ec9cadd92ea35a2259a0acb186.jpg" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">Pinocho</h5>
                <p class="card-text" align="justify">Las aventuras de Pinocho es una obra literaria escrita por el autor italiano Carlo Collodi. Se publicó en Italia en el periódico Giornale per i bambini, desde 1881 hasta 1883, con el título Storia di un Burattino, acompañada de las ilustraciones de Enrico Mazzanti</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6TclEom552NdECF9-CHm5GuQhOrlCWiB7WB6npeunslxKnu9QG2ApJ4_uURCg6AwNSxw&usqp=CAU" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">GOT Danza de Dragones</h5>
                <p class="card-text" align="justify">La Danza de los Dragones fue una guerra civil acaecida entre 129 y 131 d.C. durante el reinado de la Dinastía Targaryen. Fue una guerra de sucesión entre Rhaenyra y su medio hermano Aegon por el trono de su padre, el rey Viserys I Targaryen.
                    </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 text-white bg-dark mb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0IfVITLA8uzVzf_0N5IuwGecVhO5D-lltfXZ3RMTh4HIB9uwfE4Y9zfPCuSowkDFDFLU&usqp=CAU" style="width: 317px; height: 300px;" alt="">
            <div class="card-body">
                <h5 class="card-title" align="center">Harry Potter y la camara secreta</h5>
                <p class="card-text" align="justify">La trama sigue el segundo año de Harry Potter en el Colegio Hogwarts de Magia y Hechicería, durante el cual una serie de mensajes en las paredes de los pasillos de la escuela advierten que la Cámara de los Secretos ha sido abierta y que el «heredero de Slytherin» matará a todos los alumnos
                </p>
            </div>
        </div>
    </div>
</div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>