<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Libros</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Libros</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="libro : ${getAllLibros}">
            <td th:text="${libro.id}">ID</td>
            <td th:text="${libro.titulo}">Título</td>
            <td th:text="${libro.autor}">Autor</td>
            <td th:text="${libro.genero}">Género</td>
            <td th:text="${libro.estado}">Estado</td>
            <td>
                <a th:href="@{'/libro/' + ${libro.id}}" class="btn btn-primary">Ver</a>
                <a th:href="@{'/libro/eliminar/' + ${libro.id}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/crearlibros" class="btn btn-success">Crear Nuevo Libro</a>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
